@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #353A40;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
}

.logo a img {
    width: 35%;
}

.logo h2 {
    color: #FFFFFD;
    font-weight: 300;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    
}

.logo1 {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
}

.navegacion {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    padding: 30px;
}

.navegacion a {
    text-decoration: none;
    color: #9da6b1;
    font-size: 20px;
    
}

.btn a:hover {
    color: #FFFFFD;
}

.comprar a:hover {
    color: #29A744;
}

.fondo {
    display: flex;
    background-repeat: no-repeat;
    background-image: url(../assets/img/hawaii.jpg);
    
/*     top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%; */
    padding: 44vh;
}

.conferencia {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.conferencia h1{ 
    color: #FFFFFD;
    font-size: 2.5rem;
    margin: 0 0 40px 0;
}

.conferencia h4{ 
    color: #FFFFFD;
    text-align: end;
    font-size: 20px;
    margin:  0 30px 0;
}





